---
import Layout from '../layouts/Layout.astro';
import BusinessList from '../components/BusinessList.astro';
import type { Category } from '../types';

export async function getStaticPaths() {
  const categoryResponse = await fetch('http://localhost:4321/categories.json');
  const categoryData = await categoryResponse.json();
  const categories = categoryData.categories;

  function flattenCategories(categories: Category[]): Category[] {
    return categories.reduce((acc, category) => {
      acc.push(category);
      if (category.subcategories) {
        acc.push(...flattenCategories(category.subcategories));
      }
      return acc;
    }, [] as Category[]);
  }

  const flatCategories = flattenCategories(categories);

  return flatCategories.map(category => ({
    params: { category: category.id },
    props: { category: category },
  }));
}

const { category } = Astro.props;
---

<Layout title={category.name}>
  <h2>{category.name} Businesses</h2>
  <BusinessList category={category.id} />
</Layout>

<style>
  h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
</style>